In [11]:
# importing required libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
# importing confusion matrix function from utilities folder
import sys
sys.path.append('../../')

# importing the function
from utilities.ConfusionMatrix import confusion_matrix

In [89]:
df = None

In [104]:
class ConfusionMatrixClass:
    def __init__(self):
        pass
    
    def fit(self, y_true, y_pred):
        self.y_true = y_true
        self.y_pred = y_pred
        self.confusion_matrix = confusion_matrix(y_true, y_pred)
        self.labels = np.unique(y_true + y_pred)
        return self

    def plot(self, figsize=(10, 10), fontsize=20, sub_fontsize=15, cmap='Blues', xlabel='Predicted', ylabel='Actual', title='Confusion Matrix', text_color="w", bar_title='Occurances'):
        fig, ax = plt.subplots()
        im = ax.imshow(self.confusion_matrix, cmap=cmap)
        ax.set_xticks(np.arange(len(self.labels)), labels=self.labels)
        ax.set_yticks(np.arange(len(self.labels)), labels=self.labels)
        ax.xaxis.tick_top()
        ax.set_xlabel(title, fontsize=sub_fontsize, labelpad=20)
        ax.set_ylabel(ylabel, fontsize=fontsize)
        ax.set_title(xlabel, fontsize=fontsize)
        
        
        # Loop over data dimensions and create text annotations.
        for i in range(len(self.labels)):
            for j in range(len(self.labels)):
                text = ax.text(j, i, self.confusion_matrix[i, j],
                            ha="center", va="center", color=text_color)
        
    
        cbar = ax.figure.colorbar(im, ax=ax)
        cbar.ax.set_ylabel(ylabel=bar_title, rotation=-90, va="bottom", fontsize=sub_fontsize)
    
        plt.show()

        return self
    
    def fit_plot(self, y_true, y_pred, figsize=(10, 10), fontsize=20, sub_fontsize=15, cmap='Blues', xlabel='Predicted', ylabel='Actual', title='Confusion Matrix', text_color="w", bar_title='Occurances'):
        self.fit(y_true, y_pred)
        self.plot(figsize=figsize, fontsize=fontsize, sub_fontsize=sub_fontsize, cmap=cmap, xlabel=xlabel, ylabel=ylabel, title=title, text_color=text_color, bar_title=bar_title)
        return self
    
    def get_df(self, totals=False, totals_x=False, totals_y=False):
        df = pd.DataFrame(self.confusion_matrix, index=self.labels, columns=self.labels)
        
        # adding totals column
        if totals or totals_x:
            df['Totals'] = df.sum(axis=1)

        # adding totals row
        if totals or totals_y:
            df.loc['Totals'] = df.sum(axis=0)
        
        return df
    
y_true = ["cat", "ant", 'rabbit' , "cat", "cat", "ant", "bird"]
y_pred = ["ant", "ant", "cat", "cat", "ant", "cat", 'dog']
cm = ConfusionMatrixClass()
cm.fit(y_true, y_pred)
# cm.plot()
cm.get_df(totals_x=True, totals_y=True, totals=True)
# cm.fit_plot(y_true, y_pred)

        ant  bird  cat  dog  rabbit  Totals
ant       1     0    1    0       0       2
bird      0     0    0    1       0       1
cat       2     0    1    0       0       3
dog       0     0    0    0       0       0
rabbit    0     0    1    0       0       1
Totals    3     0    3    1       0       7

In [91]:
df

        ant  bird  cat  dog  rabbit  Totals
ant       1     0    1    0       0       2
bird      0     0    0    1       0       1
cat       2     0    1    0       0       3
dog       0     0    0    0       0       0
rabbit    0     0    1    0       0       1

In [101]:
# df.append(pd.Series(row, index=df.columns, name='Tots'))

        ant  bird  cat  dog  rabbit  Totals
ant       1     0    1    0       0       2
bird      0     0    0    1       0       1
cat       2     0    1    0       0       3
dog       0     0    0    0       0       0
rabbit    0     0    1    0       0       1
Tots      3     0    3    1       0       7

ant       3
bird      0
cat       3
dog       1
rabbit    0
Totals    7
dtype: int64